<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Om shanti</title>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>

  <body>
    <header>
      <h1>Framework wale baba</h1>
    </header>
    <section id="user-goal">
      <h2>My Goal</h2>
      <p>{{goal}}</p>
      <p v-if="text"><a :href="link">Learn more about {{text}}: </a></p>
      <div v-if="text">
        <button @click="rollDice">Refresh the divination!</button>
      </div>
      <div v-else>
        <button @click="rollDice">Get Something to learn about!</button>
      </div>
      <input type="text" v-model="name">
      <div v-if="name">{{name}}</div>
    </section>
  </body>

</html>
